body { 
    padding-top: 50px;
    width: 100%;
}

.img-center {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.container li {
	font-size: 14pt;
	text-decoration: underline;
	line-height: 1.5;
}
.container li a:hover  {
	color: orange;
}
