body { 
    padding-top: 100px;
}

#description {
    margin: 0 15%;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

#topics {
    position: relative;
    text-align: center;
    margin-top: 75px;
}

#topics .colTitle {
    background: rgba(15,73,125,0.99);
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    width: 90%;
    text-align: left;
    padding-left: 1em;
    color: orange;
    font-size: 24px;
}

#topics ul {
    /*padding-left: 8%;*/
    text-align: center;
}

#topics ul li {
    margin-bottom: 15px;
}

#topics ul li p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.col-md-3 {
    border: 1px solid;
    border-radius: 5px;
    margin: 1em;
    margin-left: 6em;
    margin-right: 2em;
    height: 125px;
    width: 10%;
    text-align: center;
    background: rgba(15,73,125,0.99);
}
.col-md-3:hover {
    box-shadow: 0 0 5px #000;
    text-transform: scale(1.2);
}
.col-md-3 > a {
        vertical-align: middle;
        color: white;
        font-size: 18px;
        line-height: 125px;
        font-weight: bold;
        padding-top: 50%;
}
.col-md-3 > a:hover {
        color: orange;
}



