body { 
    padding-top: 70px;
    margin-bottom: 30px;
}

#description {
    color: #73706f;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 1em;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#explore {
    text-align: center;
    margin-top: 2em;
    /*margin: 0 10%;*/
}

#explore #exploreTitle {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#explore .explorePortal p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #474545;
}

/*"Learn more" buttons*/
#explore .explorePortal a {
    margin-top: 30px;
    /*height: 90pt;*/
    /*padding-top: 3em;*/
    /*display: block;*/
}

#explore li {
    border-radius: 25px;
    margin: 1em;
    padding: 1em;
    background-color: rgba(15,73,161,0.2);
}

.carousel {
    width: 90%;
    margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 500px;
    margin: auto;
    width: 100%;
    background-size: cover;
}

.carousel-caption {
    font-size: 15px;
    background-color: rgba(15,73,161,0.5);
}

.navbar-brand > img {
    height: 250%;
}
.btn, .btn-primary, .btn-lg {
    margin-top: 0 !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 450px;    /* Set slide height here */

}
#description p {
    margin-bottom: 0; 
}
